footer.ba-footer
	.container
		.row
			.col-md-6.col-sm-12
				ul.nav.navbar-nav.ba-footer__nav
					li
						a(href="#") Home
					li
						a(href="#") About us
					li
						a(href="#") Services
					li
						a(href="#") Portfolio
					li
						a(href="#") Blog
					li
						a(href="#") Contact us
			.col-md-6.col-sm-12.text-right
				p Created by akhouad 2016. All Rights Reserved
				.ba-socials
					a(href="#")
						i.ion-social-facebook
					a(href="#")
						i.ion-social-twitter
					a(href="#")
						i.ion-social-youtube
					a(href="#")
						i.ion-social-linkedin
					a(href="#")
						i.ion-social-pinterest
					a(href="#")
						i.ion-social-instagram




