section.ba-section.ba-section--subscribe
	.container
		.row
			.col-md-6.col-sm-12
				h4 YOU THINK WE'RE COOL ? LET'S WORK TOGETHER
				a.btn.btn-primary get in touch
			.col-md-6.col-sm-12
				.ba-form.clearfix
					h4.ba-form__title STAY INFORMED WITH OUR<br> NEWSLETTER
					p.ba-form__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
					form.row(action="#",method="post")
						input.ba-form__input.col-sm-8(type="mail",required,placeholder="your email")
						button.btn.form-btn.col-sm-4 send
